.chat-container {
  background-color: rgb(242, 248, 248);
  height: 500px;
  overflow: hidden;
  scroll-behavior: smooth;
  overflow-y: scroll;
}
.message__list {
  padding: 5% 0;
  overflow: auto;
  flex: auto;
}
.text__input {
  display: flex;
}
.input-control {
  flex: 1;
  border: none;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  background-color: rgb(242, 248, 248);
}
